body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

select {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
}

.submit-button {
    font-size: 1.2rem;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
