<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ScaleTool</title>
    <link rel="stylesheet" href="static\style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body style="text-align: center">    
    <div class="logo-container">
        <img src="static\scaleToolLogo.png" alt="ScaleTool" class="logo">
    </div>
    <h1>Select your options:</h1><br>
    <form action="/generate_image" method="POST">
        <label for="string1">Tuning:</label>
        <select id="string6" name="string6">
            <option value="A">A</option>
            <option value="A#">A#</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="C#">C#</option>
            <option value="D">D</option>
            <option value="D#">D#</option>
            <option value="E" selected>E</option>
            <option value="F">F</option>
            <option value="F#">F#</option>
            <option value="G">G</option>
            <option value="G#">G#</option>
        </select>
        <select id="string5" name="string5">
            <option value="A" selected>A</option>
            <option value="A#">A#</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="C#">C#</option>
            <option value="D">D</option>
            <option value="D#">D#</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="F#">F#</option>
            <option value="G">G</option>
            <option value="G#">G#</option>
        </select>
        <select id="string4" name="string4">
            <option value="A">A</option>
            <option value="A#">A#</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="C#">C#</option>
            <option value="D" selected>D</option>
            <option value="D#">D#</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="F#">F#</option>
            <option value="G">G</option>
            <option value="G#">G#</option>
        </select>
        <select id="string3" name="string3">
            <option value="A">A</option>
            <option value="A#">A#</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="C#">C#</option>
            <option value="D">D</option>
            <option value="D#">D#</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="F#">F#</option>
            <option value="G" selected>G</option>
            <option value="G#">G#</option>
        </select>     
        <select id="string2" name="string2">
            <option value="A">A</option>
            <option value="A#">A#</option>
            <option value="B" selected>B</option>
            <option value="C">C</option>
            <option value="C#">C#</option>
            <option value="D">D</option>
            <option value="D#">D#</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="F#">F#</option>
            <option value="G">G</option>
            <option value="G#">G#</option>
        </select>    
        <select id="string1" name="string1">
            <option value="A">A</option>
            <option value="A#">A#</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="C#">C#</option>
            <option value="D">D</option>
            <option value="D#">D#</option>
            <option value="E" selected>E</option>
            <option value="F">F</option>
            <option value="F#">F#</option>
            <option value="G">G</option>
            <option value="G#">G#</option>
        </select>    
        <br>
        <label for="key">Key:</label>
        <select id="key" name="key">
            <option value="A">A Major/F# Minor</option>
            <option value="A#">Bb Major/G Minor</option>
            <option value="B">B Major/G# Minor</option>
            <option value="C">C Major/A Minor</option>
            <option value="C#">C# Major/A# Minor</option>
            <option value="D">D Major/B Minor</option>
            <option value="D#">Eb Major/C Minor</option>
            <option value="E">E Major/C# Minor</option>
            <option value="F">F Major/D Minor</option>
            <option value="F#">Gb Major/D# Minor</option>
            <option value="G">G Major/E Minor</option>
            <option value="G#">Ab Major/F Minor</option>
        </select>
        <br>
        <input type="submit" value="Generate Image">
    </form>
    <div id="output-image">
        {% if image_data %}
            <img src="data:image/png;base64,{{ image_data }}" />
        {% endif %}
    </div>
</body>
</html>
